/* Global */
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/cores.css";
@import "./utilidades/tipografia.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* Seguros */
@import "./seguros/seguros.css";

/* Termos */
@import "./termos/termos.css";
